  <div class="grid-unit wide">
    <h2>Your Classrooms</h2>
  </div>
  <div class="grid-unit narrow">
    <a href="#join-classroom" rel="modal:open" class="btn btn-primary open-modal">Join Classroom</a>
    <a href="#new-classroom" rel="modal:open" class="open-modal">Create Classroom</a>
  </div>

  <div id="new-classroom" class="modal">
    <h6 class="subtitle classroom-option">Create New Classroom</h6>
    <%= render partial: 'form', locals: {classroom: Classroom.new, leave_link: false} %>
  </div>

  <div id="join-classroom" class="modal">
    <%= render 'join_classroom' %>
  </div>
</div>
<div class="wrapper" id="classrooms">
  <div class="grid-unit whole placeholder <%= 'dont-show' if @classrooms.any? %>" id="placeholder">
    <p>Get started by creating or joining a classroom.</p>
  </div>
  <%= render @classrooms %>
</div>
<% provide(:title, 'Classrooms') %>
