<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Input label</label>
    <input type="email" class="form-input" placeholder="Disabled placeholder text" disabled>
  </div>
</form>