<form role="form" class="form-required">
  <div class="form-group">
    <label for="exampleInputEmail1">Class Name</label>
    <input type="text" class="form-input" placeholder="Enter the name" required="true">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Something else</label>
    <input type="text" class="form-input" placeholder="You need to fill this" required="true">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file">
    <p class="form-help-block">Example block-level help text here.</p>
  </div>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>