<div class="wrapper">
  <div class="grid-unit whole"><p class="show-grid">whole</p></div>
  <div class="grid-unit narrow"><p class="show-grid">narrow</p></div>
  <div class="grid-unit narrow"><p class="show-grid">narrow</p></div>
  <div class="grid-unit narrow"><p class="show-grid">narrow</p></div>
  <div class="grid-unit narrow"><p class="show-grid">narrow</p></div>
  <div class="grid-unit wide"><p class="show-grid">wide</p></div>
  <div class="grid-unit narrow"><p class="show-grid">narrow</p></div>
</div>