<div class="grid-unit-header">
  <h3>Forgot password?</h3>
</div>
<p class="login-top">Please enter your email address to receive password reset instructions.</p>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-input" %>
  </div>
<%= f.submit "Send Reset Email", id: 'password-reset-button', class: "btn btn-primary"%>
<% end %>