<div class="wrapper page-header">
  <div class="grid-unit whole">
    <a class="hide-desktop collapse-toggle mobile-menu" title="Toggle Mobile Menu">
      <span class="nav-icon nav-burger"></span>
    </a>
    <h4><%= current_page_header %></h4>
    <div class="secondary-nav pull-right">
      <% if @classroom.try(:id) %>
        <%= render 'shared/help_toggle' %>
      <% end %>
    </div>
  </div>
</div>