<div class="bottom-nav">
  <li class="subnav-links account-id">
    <span class="user-type user-name"><%= current_user.first_name %></span>
  </li>
  <li>
    <%= link_to 'Edit Profile', edit_user_registration_path, class: "subnav-links", id: 'account' %>
  </li>
  <li>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "subnav-links", id: 'logout-link' %>
  </li>
</div>