<button type="button" class="btn">regular</button>
<button type="button" class="btn btn-small">small</button>
<button type="button" class="btn btn-primary">regular</button>
<button type="button" class="btn btn-primary btn-small">small</button>