<a class="btn" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn" type="button" value="Input">
<input class="btn btn-success" type="submit" value="Submit">