<%= form_for [@classroom, @request], remote: true do |f| %>
  <div class="form-group fg-fixed">
  <!--<%= f.label :question, 'Question' %> -->
  <%= f.text_area :question, placeholder: "Briefly describe your question - use #hashtags! (optional)", rows:4, class: "form-input" %>
  <%= f.submit 'Ask Question', class: "btn btn-primary" %>
  </div>
<% end %>