<%= form_for [@classroom, Request.new], remote: true, html: { class: 'fg-fixed'} do |f| %>
  <div class="form-group">
  <%= f.text_area :question, placeholder: "Briefly describe your question - use #tags! (optional)", rows:4, class: "form-input" %>
  </div>
  <div>
    <%= f.submit 'Ask Question', class: "btn btn-primary" %>
  </div>
<% end %>