<p id="sort-type" data-sorttype="<%= @classroom.sort_type %>">
  Sort:

  <% if policy(@classroom).update? %>
    <%= link_to Classroom::SORT_TYPE[0], set_sort_classroom_path(@classroom, sort_type: Classroom::SORT_TYPE[0]), class: "sort-link sort-by-Time", remote: true, method: :patch %> |
    <%= link_to Classroom::SORT_TYPE[1], set_sort_classroom_path(@classroom, sort_type: Classroom::SORT_TYPE[1]), class: "sort-link sort-by-Popularity", remote: true, method: :patch %>
  <% else %>
    <strong><%= @classroom.sort_type %></strong>
  <% end %>
</p>