
  <div class="grid-unit whole">
    <h2>Completed Requests</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper">
  <div class="grid-unit wide">
    <table id="requesters-table">
      <thead>
        <tr>
          <th colspan="2">Name</th>
          <th>Question</th>
          <th>Time</th>
          <th>Options</th>
        </tr>
      </thead>

      <% if @requests.empty? %>
        <tr id="placeholder"><td colspan="4">No questions have the "done" status yet.</td></tr>
      <% else %>
        <% @requests.each do |request| %>
          <%= render partial: 'request', locals: { classroom: @classroom, request: request } %>
        <% end %>
      <% end %>
    </table>
  </div>
</div>