  <div class="grid-unit whole">
    <h2>Completed Questions</h2>
    <h6 class="subtitle"><%= @classroom.name %></h6>
  </div>
</div>
<div class="wrapper requests" id="completed-requests">
  <div class="grid-unit wide">
    <div class="padding-border request <%= 'dont-show' if !@requests.empty? %>" id="placeholder">
      <div class="question-content">
        <p class="placeholder">Questions that are marked as 'done' will appear here.</p>
      </div>
    </div>

    <% @requests.each do |request| %>
      <%= render partial: 'request', locals: { classroom: @classroom, request: request } %>
    <% end %>
  </div>
</div>