@import 'globals/all';

.alert {
  padding: 15px;
  margin-top: 15px;
  border: 2px solid transparent;
  border-radius: 4px;
  position: relative;
}

.alert-success {
  color: darken($color-success, 20%);
  border-color: $color-success;
}

.alert-warning {
  color: darken($color-warning, 20%);
  border-color: $color-warning;
}

.alert-dismissable {
  padding-right: 40px;
}

// .alert-dismissable .close {
//   position: relative;
//   top: -2px;
//   right: -21px;
//   color: inherit;
// }

.errorExplanation { color: #222;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f6f6f6;
  font: bold smaller;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 0.5;
  text-shadow: 0 1px 0 #ffffff;
  // opacity: 0.2;
  filter: alpha(opacity=20);
  @include all-transition(0.2s);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.close {
  position: absolute;
  top: -11px;
  right: -11px;
  cursor: pointer;
  padding: 5px;
  @include border-radius(100px);
  background: #fff;
  .alert-success & {
    color: $color-success;
    border: 2px solid $color-success;
    &:hover {
      background: $color-success;
      color: #fff;
    }
  }
  .alert-warning & {
    color: $color-warning;
    border: 2px solid $color-warning;
    &:hover {
      background: $color-warning;
      color: #fff;
    }
  }
}