@import 'globals/all';

.analytics-content {
  @extend %row-content;
  a {
    display: inline-block;
    padding: 5px;
  }
}

.analytics-bar {
  padding-bottom: 10px;
}

.hasnt-voted {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hasnt-voted-show {
  display: block;
}

.student-not-voted {
  font-size: 14px;
}

.unit-action {
  padding-top: 10px;
  padding-bottom: 10px;
  select {
    width: 100%;
  }
}

.unit-action-link {
  color: $grey-md;
  display: block;
  .unit-action:hover & {
    color: #fff;
  }
}

.show-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: -6px;
  fill: $grey-md;
  .analytics-content a:hover & {
    fill: $color-primary;
  }
}

.hasnt-voted-note {
  font-size: 14px;
  color: $color-text;
}