@import 'globals/all';

.progress-container {
  margin-top: 15px;
  padding: 20px 0;
  margin-bottom: 0px;
}

.progress-bkgd {
  margin-top: -10px;
  background: lighten($grey-lt, 8%);
  position: relative;
  height: 20px;
}
.progress-bar {
  float: left;
  height: 100%;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.7;
  color: #fff;
  text-align: center;
  position: relative;
  @include all-transition(0.3s);
}

.progress-bar-danger,
.progress-bar-warning,
.progress-bar-success,
.progress-bar-empty {
  height: 100%;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

.progress-bar-danger {
  background-color: $color-danger;
}

.progress-bar-warning {
  background-color: $color-warning;
}

.progress-bar-success {
  background-color: $color-success;
}

.progress-bar-label {
opacity: 0;
text-align: center;
width: 44px;
height: 21px;
background: $color-main;
@include border-radius(5px);
position: absolute;
top: -24px;
left: 50%;
margin-left: -22px;
@include all-transition(0.3s);
  &:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    background: $color-main;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    @include border-radius(2px);
  }
}
.progress-bar:hover .progress-bar-label {
  opacity: 1;
  top: -27px;
}

// progress bar count for teachers on tracks#index
.track-progress {
  .progress-container {
    padding: 10px 0;
  }
  .progress-bkgd {
    height: 15px;
  }
}
