<div class="branding-colors">
  <h4>Main app color</h4>
  <p>This is the color that will be used prominently in the landing page as well as the background for the navigation menu. It forms the base for all body text colors that are not white.</p>
  <div class="sg-main">Main</div>
  <h4>Secondary colors</h4>
  <p>These are the colors that form the bases for buttons and other elements where colors are needed, such as progress bars and alerts. Sass functions <code>lighten()</code> and <code>darken()</code> are used to create the variations required.</p>
  <div class="sg-primary">Primary</div>
  <div class="sg-success">Success</div>
  <div class="sg-warning">Warning</div>
  <div class="sg-danger">Danger</div>
  <h4>Greys</h4>
  <p>There are 2 greys defined and should be sufficient to be used as is or with a minimum number of variations created by using <code>lighten()</code> and <code>darken()</code> Sass functions.</p>
  <div class="sg-lt-grey">Light Grey</div>
  <div class="sg-md-grey">Medium Grey</div>
</div>