// Place all the base styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);
@import 'globals/all';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $sans-serif;
  width: 100%;
  height: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;// only for FF 25+ on OSX
  color: $color-main;
  &.nav-open {
    overflow: hidden;
    @include media-query(medium) {
      overflow-y: visible;
    }
  }
}

p {
  color: $color-text;
  margin: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: $color-link;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}

h1, 
.h1 {
  font-size: 2rem;
  line-height: 1;
}

h2, 
.h2 {
  font-size: 1.6rem;
  line-height: 1.1;
}

h3,
.h3 {
  font-size: 1.4rem;
  line-height: 1.2;
}

h4,
.h4 {
  font-size: 1.2rem;
  line-height: 1.25;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.1;
}

h6,
.h6 {
  font-size: 0.8rem;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input,
textarea {
  border: none;
  font-family: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: block;
  &[disabled] {
    background-color: lighten($grey-lt, 5%);
  }
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 7px;
}